.vscode/*
test
memo*
/*.json
!TransEPI/*.json
*.pyc
/*.png
!TransEPI/*.png
*.csv
!data/BENGI/*.csv
!data/TargetFinder/*.csv
!output/BENGI/dmax_2500000/GM12878.csv
!output/TargetFinder/dmax_2500000/GM12878.csv
*.fa
*.fai
*.bed
*.sent
*.gz
*.txt
*d2v
ep2vec_result
*/result/*
*.narrowPeak
*.pt
*.png
*.pkl
*.h5
*.DS_Store
*.xlsx
*.tsv
!TransEPI/data/annotation/*
!TransEPI/data/genomic_data/*

*.jpg
*.bedgraph
*.bedpe
*.sh
*.pt

main/*

*IGV

EPIpredictor/*
EPIpredictor(unused)/*
output/*
input_to_neg_generator/*
output_neg_generator/*


